<!DOCTYPE html>

<script src="static/java.js"></script>
<link href="/static/css/edit2.css" rel="stylesheet">

<h3>Upload your image </h3>


<!--UPLOAD DE FICHEIROS LOCAIS-->

<div id="upload">
  <form action = "http://127.0.0.1:5000/uploader" method = "POST" enctype = "multipart/form-data">
    <!--<label for="myfile" id="label">From local folder:</label>-->
   <input id="file" type='file' name = 'file'  />
    <input  id ="sub" value="Upload" type = "submit"/>
  </form>
</div>
<div id="ananas">
  <img src="an.png">
</div>
